html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  
  font-family: sans-serif;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-color: silver;
}

h1 {
  color: blue;
  font-family: Times New Roman;
  font-size: 36px;
  background: fixed;
}
h1 {
  font-size: 48px;
  color: white;
  font-style: bold;
  text-shadow: #555;
  text-decoration: solid;
  font-family: Times New Roman;
}

#text {
  font-family: Verdana;
  font-size: 24px;
  color: black;
  align-items: left;
  justify-items: auto;
}

header {
  background-color: black;
  margin: 20;
  font-family: Times New Roman;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-style: groove;
}

#headertext{
  color: white;
  font-size: 36px;
}

#header-button{
 margin: 20;
 padding: 20;
 height: 5vh;
 width: 15w;
}
.logo img {
  width: 240px;
  background-color: black;
  opacity: unset;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  max-width: 85px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: darkgray;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: white;
}
.container {
  display: block;
  cursor: pointer;
  font-size: 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-spacing: 12px;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}


#myBtn {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#copyright-message {
  font-family: Georgia;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 10px; /* Add some margin for better spacing */
}

#dragon {
  color: darkred;
}

.icons{

  align-items: center;
  text-align: center;
}
.icons i#HTML img,
.icons i#CSS img,
.icons i#JS img {
  width: 105px;
  height: auto; /* Use auto for responsive height */
  margin: 2.5px;
  
}

.icons p {
  font-size: 24px; /* Adjust the font size as needed */
  font-family: Verdana;
  color: white;
  text-align: center;
  margin: 5px; /* Add margin for better spacing */
}
