@keyframes gradientAnimation {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
  }

@keyframes fadeIn {
  0% {opacity: 0; transform: scale(0.5) translateY(-1px);}
  100% {opacity: 1; transform: scale(1) translateY(0);}
}

@keyframes magnify{
  0%{font-size:1em;}
  100%{font-size:xx-large;}
}

@keyframes slide{
  to{
    translate: calc(-4 * 250px);
  }
}

@keyframes changing-color{
  0%{
    color: white;
  }
  50%{
    color: red;
  }
  100%{
    color: silver;
  }
}

html{
  scroll-behavior: smooth;
  background: linear-gradient(to right, rgb(1, 1, 109), rgb(14, 14, 14));	background-size: 200% 200%; 
	animation: gradientAnimation 10s linear infinite;
  margin: auto 5px;
  padding: auto 5px;
}
body {
  font-family: sans-serif;
  display: grid;
  min-height: 100vh;
  color: white;
  animation: fadeIn 1s ease-in;
}

header{
  margin: auto 1;
  padding: auto 1;
}

h1{
  font-size: 36px;
  animation: changing-color 5s ease infinite;
}

nav {
  border: none;
  border-radius: 50px;
  padding: 0.5em 1em;
  display: flex;           
  justify-content: space-between; 
  align-items: center;      
}

nav h1 {
  font-family: 'Calibri';
  margin: 0;              
}

nav ul {
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0;              
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;  
  transition: color 0.1s ease;
  color: gray;
  font-family: 'Calibri';
}

nav ul li a:hover{
  color: white;
  font-size: 26px;
}

button{
  background-color: transparent;
  border: none;
}

.social-media {
  display: flex;
  margin: auto;
  width: max-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid black; 
  border-radius: 10px; 
  background-color: white; 
  margin-top: 15vh;
}

.social-media a {
  margin: 10px;
  font-size: 48px; 
  text-align: center;
  display: inline-block;
  color: black;
}

.social-media .twitter:hover {
  color: #1da1f2 !important; 
}

.social-media .github:hover {
  color: rgb(56, 55, 55) !important; 
}
.social-media .linkedin:hover {
  color: blue !important;
}
.social-media .instagram:hover {
  color: #e4405f !important;
}
.social-media .codepen:hover {
  color: green !important;
}

.social-media a:hover {
  color: var(--main-decor-color);
  text-shadow: 0 0 50px var(--main-decor-color);
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  display: inline-block, flex;
}
.icon {
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
  border-style: solid;
  display: inline-block;
}
.icon img {
  display: inline-block;
  max-width: 100%;
  border-style: solid;
}

footer {
  display: block; 
  bottom: 0;
  width: 100%; 
  text-align: center;
}

footer #copyright-message {
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.icons {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.icons i#HTML img {
  width: 75px;
  height: 100px;
}

.icons i#CSS img {
  width: 75px;
  height: 90px;
}

.icons i#JS img {
  width: 75px;
  height: 75px;
  margin: 5px;
}

.icons p {
  font-size: 36px;
  color: white;
}

#myProjects #largeProjects {
  display: flex;
  flex-direction: row; /* Arrange items in a row */
  gap: 12px;
  text-align: center;
  font-size: 24px;
}

#myProjects #largeProjects img{
  width: 200px;  /* Set the desired width */
  height: 150px; /* Set the desired height */
}

#myProjects #largeProjects img[alt*="A simple parody game made with HTML/CSS/JS"]{
  width: 225px;
  height: 155px;
}

#scrollUp{
  border-radius: 25px 25px 25px 25px;
  border-width: 100px;
  background-color: white;
  text-decoration: none;
  padding: 15px;
}

#scrollUp:hover{
  background-color: black;
  color: white;
}

.carousel{
  overflow: hidden;
  width: 100vw;
  margin-top: 5vh;
  display: flex;
  margin: 0;
  padding: 0;
}

.wrap{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  justify-items: stretch;
  animation: slide 5s infinite linear;
  animation-timing-function: ease-in-out;
  }

.wrap img{
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit:contain;
}