
body {
	margin: 10x;
	padding: 10px;
	font-family: sans-serif;
	background-image: url("img/What_is_Information_Technology.jpeg");
background-size: cover;
	background-position:center;
	background-attachment: absolute;
	background-blend-mode:lighten;
	background-repeat: no-repeat;
}

header {
	background-color: black;
	color: black;
	font-family: Times New Roman;
	font-size: 18px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	border-style: groove;
}
h1{
	font-size: 48px;
	color:white;
	font-style: bold;
	text-shadow: #555;
	text-decoration: solid;
	font-family: Times New Roman;
}
section{
	color: white;
	font-family: Times New Roman;
	font-size: 36px;
	background-blend-mode: darken;
  }
  p1{
background-color: black;
  }
  p3{
	align-items:stretch;
	justify-content: space-between;
	display: flex;
	max-width:fit-content;
	max-height: fit-content;
	
  }
  .social-media {
	padding: 1px;
	margin: 1px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: white;
}

.social-media a {
	margin: 10px;
	font-size: 2rem;
	text-align: center;
	display: inline-block;
	color: var(--main-fonts-color);
}

.social-media a i {
	cursor: pointer;
}

.social-media a:hover {
	color: var(--main-decor-color);
	text-shadow: 0 0 50px var(--main-decor-color);
}


.iframe-container {
	border: 5px solid #ccc;
	border-radius: 5px;
	overflow:inherit;
	height: 360px;
	width: 360px;;
	position: relative;
	margin: 10px;
  }
  
  .iframe-container iframe {
	width: 100%;
	height: 100%;
	
  }
  

.logo img {
	width: 240px;
	/*border-style:groove;boxing style*/
	background-color: black;
}

/*.dropbtn{
	background-color: black;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  .dropdown{
	position: relative;
	display: inline-block;
  }*/
  
  .dropdown-content{
	display: none;
	position:absolute;
	justify-content:stretch;
	background-color: white;
	max-width: 85px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
   }
   .dropdown-content a{
	color: black;
	padding: 12px 16px;
	display: block;
	text-decoration: none;
   }
   .dropdown-content a:hover{
   background-color: darkgray;
   }
   .dropdown:hover .dropdown-content{
   display: block;
   }
   .dropdown:hover .dropbtn{
   background-color: white;
   }
/*.dropdown::before:hover .dropbtn{
background-color: white;	
}
.dropdown::after .dropbtn{
	background-color: red;
}*/
.container {
	display: block;
	cursor: pointer;
	font-size: 20px;
  }
  
  .bar1, .bar2, .bar3 {
	width: 40px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
	border-spacing: 12px;
  }
  
  /* Rotate first bar */
  .change .bar1 {
	transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
	transform: translate(0, -11px) rotate(45deg);
  }
 
  .box {
    display: flex;
    justify-content: center;
	border-style: solid;
  }
  .icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
	border-style: solid;
	display: inline-block, flex;
  }
  .icon {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
	border-style: solid;
	display: inline-block;
  }
  .icon img {
    display: inline-block;
    max-width: 100%;
	border-style:solid;
  }

  .box a{
	display: flex;
	width: 35px;
	border-style:inset;
	border-color: black;
	background-color: black;
	text-align: center;
	width:150px;
	height: 150px;
	background-color: black;
	
  }
  
  .box img {
	max-width: 100%;
	max-height: 100%;
  }
  nav {
	display: none; /* hide the navigation menu by default */
  }
  
  @media (min-width: 768px) {
	/* show the navigation menu for screens wider than 768px */
	nav {
	  display: block;
	}
  }
  
  .mobile-menu {
	display: inherit; /* show the hamburger menu icon by default */
  }
  
  @media (min-width: 768px) {
	/* hide the hamburger menu icon for screens wider than 768px */
	.mobile-menu {
	  display: flex;
	}
  }
  #myBtn {
	display: flex;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  #myBtn:hover {
	background-color: #555;
  }  
  #cookie-consent-message{
    background-color:#f0f0f0; 
    text-align:left; 
    margin:1px;
    padding: 1px;
    display: flex;
    width: 400px; /* set the width to 200px */
	border-style: ridge;
	border-color:black;
}

.cookie-consent-button{
	padding:5px 10px; 
	background-color:#4CAF50; 
	color:#fff; 
	border:none; 
	border-radius:3px; 
	font-size:14px; 
	cursor:pointer;
}

  @tailwind base;
@tailwind components;
@tailwind utilities;
