section{
  color: red;
  font-family: Times New Roman;
  font-size: 36px;
}
body {
	margin: 25px;
	padding: 1px;
	font-family: sans-serif;
	background-color: goldenrod;
}

header {
	background-color:black;
	color: black;
	font-family: Times New Roman;
	font-size: 18px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	border-style: groove;
}

.logo img {
	width: 240px;
	/*border-style:groove;boxing style*/
	background-color: black;
}
/*.dropbtn{
	background-color: black;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  .dropdown{
	position: relative;
	display: inline-block;
  }*/
  
  .dropdown-content{
	display: none;
	position:absolute;
	background-color: white;
	max-width: 85px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	
   }
   .dropdown-content a{
	color: black;
	padding: 12px 16px;
	display: block;
	text-decoration: none;
   }
   .dropdown-content a:hover{
   background-color: darkgray;
   }
   .dropdown:hover .dropdown-content{
   display: block;
   }
   .dropdown:hover .dropbtn{
   background-color: white;
   }
   .container {
	   display: block;
	   cursor: pointer;
	   font-size: 20px;
	 }
	 
	 .bar1, .bar2, .bar3 {
	   width: 40px;
	   height: 5px;
	   background-color: white;
	   margin: 6px 0;
	   transition: 0.4s;
	   border-spacing: 12px;
	 }
	 
	 /* Rotate first bar */
	 .change .bar1 {
	   transform: translate(0, 11px) rotate(-45deg);
	 }
	 
	 /* Fade out the second bar */
	 .change .bar2 {opacity: 0;}
	 
	 /* Rotate last bar */
	 .change .bar3 {
	   transform: translate(0, -11px) rotate(45deg);
	 }